QWidget {
    background: #f8f4f5;
    border: none;
    outline: none;
}

QLabel {
    background: transparent;
    color: #424242;
}

QListWidget {
    background: transparent;
}

QToolBar {
    background: #4a70b6;
    min-width: 48px;
    max-width: 48px;
    border: none;
    outline: none;
    spacing: 5px;
    padding: 0 4px;
}

QToolBar QWidget {
    background: transparent;
}

QToolButton {
    background: transparent;
    height: 40px;
    width: 40px;
}

QToolButton:hover,
QToolButton:pressed,
QToolButton:selected {
    background: #bbc6e6;
    border-radius: 5px;
    border: none;
}

QToolButton:checked {
    background: #2B589B;
    border-radius: 5px;
    border: none;
}

QToolButton::menu-indicator {
    image: none;
}

QMenu {
    background-color: #FFFFFF;
    color: #424242;
    margin: 4px;
    border-radius: 2px;
}

QMenu::separator {
    height: 1px;
    background-color: #EEEEEE;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #EEEEEE;
}

QMenu::icon {
    margin: 0;
    padding-left: 8px;
}

QMenu::item {
    border-radius: 2px;
    min-height: 28px;
    min-width: 80px;
    background-color: #FFFFFF;
    padding: 4px 32px 4px 4px;
}

QMenu::item:selected {
    background-color: #4a70b6;
    color: #FFFFFF;
}


QMenu::item:disabled {
    color: #aaaaaa;
}

QPushButton {
    min-width: 80px;
    max-height: 28px;
    height: 28px;
    background: #cfc9cf;
    padding: 0 8px;
    color: #424242;
    border: none;
    width: auto;
    border-radius: 5px;
}

QPushButton:hover {
    background: #BBBBBB;
    color: white;
}

QLineEdit,
QTextEdit {
    border-radius: 15px;
    height: 32px;
    border: 1px solid #efefef;
    background: #efefef;
    padding: 0 8px;
    font-size: 14px;
}

QTextEdit {
    padding: 8px;
}

QScrollBar {
    background: white;
    border: none;
    outline: none;
}

QScrollBar:horizontal,
QScrollBar:vertical {
    background-color: transparent;
    border: none;
    outline: none;
}

QScrollBar:horizontal {
    height: 8px;
    margin: 0 4px 0 4px;
}

QScrollBar:vertical {
    width: 8px;
    margin: 4px 0 4px 0;
}

QScrollBar::add-line {
    background-color: transparent;
    border: none;
    outline: none;
}


QScrollBar::sub-line {
    background-color: transparent;
    border: none;
    outline: none;
}


QScrollBar::handle {
    background-color: #b1bee1;
    border-radius: 3px;
    min-width: 8px;
    border: none;
    outline: none;
}

QScrollBar::add-page, QScrollBar::sub-page {
    border-radius: 8px;
    background: transparent;
    border: none;
    outline: none;
}


QScrollBar::up-arrow, QScrollBar::down-arrow {
    background: transparent;
    border: none;
    outline: none;
}

QTreeView,
QListView,
QTableView,
QColumnView {
    background: white;
    show-decoration-selected: 1;
}

QTreeView,
QTableView {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

QTreeView QWidget,
QListView QWidget,
QTableView QWidget,
QColumnView QWidget {
    background: transparent;
}

QTreeView QScrollBar:horizontal,
QListView QScrollBar:horizontal,
QTableView QScrollBar:horizontal,
QColumnView QScrollBar:horizontal {
    height: 4px;
    margin: 0 8px 0 8px;
}

QTreeView QScrollBar:vertical,
QListView QScrollBar:vertical,
QTableView QScrollBar:vertical,
QColumnView QScrollBar:vertical {
    width: 4px;
    margin: 8px 0 8px 0;
}

QTreeView::branch {
    border-bottom: 1px solid #EEEEEE;
}


QTreeView::branch:has-children,
QTreeView::branch:closed:has-children {
    image: url(":/icons/chevron_right.svg");
    height: 20px;
    width: 20px;
}

QTreeView::branch:open:has-children {
    image: url(":icons/chevron_down.svg");
    height: 20px;
    width: 20px;
}

QTreeView::branch:hover,
QTreeView::branch:selected,
QTreeView::branch:selected:hover,
QTreeView::branch:selected:active {
    background: #b1bee1;
}

QTreeView::item,
QListView::item,
QTableView::item,
QColumnView::item,
QAbstractItemView::item {
    padding: 0;
    min-height: 32px;
    color: #424242;
    background-color: transparent;
}

QTreeView::item,
QTableView::item {
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

QTreeView::item:last,
QTableView::item:last {
    border-right: none;
}

QTreeView::item:pressed,
QListView::item:pressed,
QTableView::item:pressed,
QColumnView::item:pressed,
QAbstractItemView::item:pressed {
    color: white;
    background-color: #b1bee1;
}

QTreeView::item:hover,
QListView::item:hover,
QTableView::item:hover,
QColumnView::item:hover,
QAbstractItemView::item:hover {
    color: white;
    background-color: #b1bee1;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected,
QColumnView::item:selected,
QAbstractItemView::item:selected {
    background: #b1bee1;
    color: white;
}

QTreeView::item:selected:hover,
QListView::item:selected:hover,
QTableView::item:selected:hover,
QColumnView::item:selected:hover,
QAbstractItemView::item:selected:hover {
    background: #b1bee1;
    color: white;
}

QTreeView::item:selected:active,
QListView::item:selected:active,
QTableView::item:selected:active,
QColumnView::item:selected:active,
QAbstractItemView::item:selected:active {
    background-color: #b1bee1;
    color: white;
}

QTreeView QLineEdit,
QListView QLineEdit,
QTableView QLineEdit,
QColumnView QLineEdit {
    background: white;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #b1bee1;
}

QListWidget::item {
    border: none;
}

QHeaderView {
    background-color: white;
    color: white;
    padding: 4px 8px 4px 8px;
    border-bottom: 1px solid #cccccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

QHeaderView::section {
    background-color: transparent;
    border-radius: 0;
    color: #424242;
    padding: 2px 2px 2px 8px;
    text-align: left;
    border: none;
    border-right: 1px solid #f0f0f0;
    outline: none;
    font-weight: bold;
}

QHeaderView::section:last {
    border-right: none;
}

QAbstractItemView {
    alternate-background-color: #f0f0f0;
    padding: 0;
}

QAbstractItemView QLineEdit {
    padding: 2px;
    outline: 0;
}


PLabelEdit {
    background: transparent;
}

PLabelEdit QLabel,
PLabelEdit QLineEdit {
    height: 36px;
    max-height: 36px;
}

PLabelEdit QLabel {
    background: transparent;
}

PLabelEdit QLineEdit {
    color: #424242;
}

QComboBox {
    border-radius: 15px;
    height: 32px;
    border: 1px solid #efefef;
    background: #efefef;
    padding: 0 8px;
    font-size: 14px;
}

QComboBox QListView::item {
    border: none;
}

QComboBox::down-arrow {
    image: url(":icons/keyboard_arrow_down.svg");
    height: 20px;
    width: 20px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 16px;
    margin: 5px;
    background-color: transparent;
}

QComboBox QAbstractItemView {
    padding: 8px 0;
    background-color: white;
    selection-background-color: #d5c1b6;
}


QSpinBox {
    border-radius: 15px;
    height: 32px;
    border: 1px solid #efefef;
    background: #efefef;
    padding: 0 8px;
    font-size: 14px;
}

QSpinBox::down-button {
    border-bottom-right-radius: 5px;
    background: url(":/icons/keyboard_arrow_down.svg") no-repeat center center 32px 32px;
    subcontrol-position: bottom right;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0;
}

QSpinBox::up-button {
    border-top-right-radius: 5px;
    background: url(:/icons/keyboard_arrow_up.svg) no-repeat center center 32px 32px;
    subcontrol-position: top right;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0;
}


QTabWidget::pane {
    border-top: 1px solid #4a70b6;
    /*border: 1px solid #aaaaaa;*/
    margin-top: -12px;
    padding-top: 24px;
}

QTabBar, QTabWidget, QTabWidget QStackedWidget {
    background-color: transparent;
}

QTabBar {
    qproperty-drawBase: 0;
    background: #b1bee1;
    alignment: right;
}

QTabBar::tab {
    background: white;
    border-top: 1px solid #4a70b6;
    border-bottom: 1px solid #4a70b6;
    min-width: 100px;
    height: 24px;
    color: #424242;
    font-size: 14px;
    margin-top: 4px;
    padding: 4px 8px 4px 8px;
}

QTabBar::tab:first {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-left: 1px solid #4a70b6;
}

QTabBar::tab:last {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 1px solid #4a70b6;
}

QTabBar::tab:hover {
    background-color: #dde2f1;
}

QTabBar::tab:selected {
    background: #4a70b6;
    /*border-bottom: 2px solid #4a70b6;*/
    padding: 4px 8px 4px 8px;
    color: white;
}


QTabBar::close-button {
    border: 0;
    margin-top: 4px;
    image: url(":icons/cancel.svg");
}

QTabBar::close-button:hover {
    background: red;
    border-radius: 5px;
}

QTabBar::close-button:hover::selected {
    background: rgba(66, 66, 66, 0.5);
    border-radius: 5px;
}

QTabWidget::tab-bar {
    alignment: right;
    padding-right: 50px;
}


QTabWidget QSpinBox{
    border-radius: 10px;
    border: 1px solid #4a70b6;
    background: white;
}

/**
    custom object name
 */

#Test {
    background: #424242;
}

/** the raise flat */

#Raised {
    background: white;
    min-width: 30px;
}

/** sticky box  */

#StickyWindow {
    border: 1px solid #dddddd;
    /*background: #efefef;*/
}

#Alert_Error,
#Alert_Error QWidget {
    border: none;
    background: #e15b3e;
}

#Alert_Warning,
#Alert_Warning QWidget {
    border: none;
    background: #fdd835;
    color: #FFFFFF;
}

#Alert_Information,
#Alert_Information QWidget {
    border: none;
    background: #c5cae9;
    color: #FFFFFF;
}

#Alert_Success,
#Alert_Success QWidget {
    border: none;
    background: yellowgreen;
    color: #FFFFFF;
}

#Alert_Error QLabel,
#Alert_Warning QLabel,
#Alert_Information QLabel,
#Alert_Success QLabel {
    color: #FFFFFF;
}

#Alert_Error #FunctionButton,
#Alert_Warning #FunctionButton,
#Alert_Information #FunctionButton,
#StickyWindow #FunctionButton {
    background: transparent;
    height: 32px;
    width: 32px;
}

#StickyWindow #ResizeBottom {
    background-image: url(":/icons/resize-bottom-right.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    /*background: #f17657;*/
    height: 10px;
    width: 10px;
}

/**
    special button
 */
#OptimizeButton {
    background: #4a70b6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

#OptimizeButton:hover {
    background: #b1bee1;
}

#NegativeButton {
    background: #E57373;
    color: white;
    border: none;
    border-radius: 5px;
}

#NegativeButton:hover {
    background: pink;
    color: white;
}

#ColorButton,
#ColorButton:hover {
    border: 2px solid white;
    outline: none;
    padding: 0;
    min-width: 24px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

#ColorButton:checked {
    border: 3px solid orange;
}

/**
    LineEdit with out box
 */
#OutlineBox {
    border-radius: 15px;
    border: 1px solid #bbc6e6;
    background: #FFFFFF;
}

#OutlineBox QLineEdit {
    border: none;
    border-radius: 0;
    height: auto;
}


#Header {
    background: #b1bee1;
}

#Header QComboBox {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
}

#Header QComboBox::down-arrow {
    image: url(":/icons_white/keyboard_arrow_down.svg");
    height: 20px;
    width: 20px;
}

#Header QToolButton:checked {
    background: #628cd7;
}

#Item {
    background: white;
    border-bottom: 1px solid #efefef;
}

#Item:hover {
    background: #f0f1f6;
}

#Item QToolButton:hover,
#Item QToolButton:pressed,
#Item QToolButton:selected {
    background: #E57373;
}

#Item #Category {
    border: none;
    background: transparent;
    color: #b1bee1;
    font-weight: bold;
    font-size: 11px;
}

#Item #Tittle {
    color: #424242;
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 12px;
}

#Item #Description {
    border: none;
    background: transparent;
    color: gray;
    font-style: italic;
    font-size: 11px;
}


#Item:disabled {
    background: #fdf5fd;
}


#ItemHeader {
    background: #A5ABBD;
    color: white;
}

#ItemHeader QLabel {
    background: transparent;
    color: white;
}


#ItemHeader2 {
    background: transparent;
    color: white;
    border-bottom: 1px solid #A5ABBD;
}

#ItemHeader2 QLabel {
    background: transparent;
    color: #A5ABBD;
    font-size: 16px;
    font-weight: bold;
}

#FormLabel {
    font-size: 14px;
    padding: 8px;
}

#QSplitter {
    background: transparent;
}

#QSplitter::handle {
    background: transparent;
}

#QSplitter::handle:horizontal {
    width: 5px;
    image: url(":/icons/drag_horizontal.svg");
}

#QSplitter::handle:vertical {
    height: 5px;
    image: url(":/icons//drag_vertical.svg");
}

#Editor {
    background: white;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

#Editor_Flat {
    background: white;
    /*border: 1px solid #f0f0f0;*/
    border-radius: 0;
}


#Editor_Header {
    background: white;
    border: none;
}

#Editor_Flat QComboBox,
#Editor QComboBox {
    /*background: #d1daf1;*/
    color: #424242;
    border: 1px solid #f0f0f0;
    /*border-radius: 0;*/
    border-radius: 5px;
}


#Editor_Flat QComboBox::down-arrow,
#Editor QComboBox::down-arrow {
    image: url(":/icons/keyboard_arrow_down.svg");
    height: 20px;
    width: 20px;
}


#Editor_Flat QToolButton,
#Editor QToolButton {
    color: #628cd7;
}


#Editor_Flat QToolButton:checked,
#Editor QToolButton:checked {
    background: #d1daf1;
}


#Editor_Flat TextEditor,
#Editor TextEditor {
    border-top: 1px solid #f0f0f0;
}

#Table {
    border: none;
    border-radius: 0;
    background: white;
}

#CloseButton2,
#CloseButton {
    background: transparent;
    height: 24px;
    width: 24px;
    border-radius: 2px;
    margin: 4px;
}


#CloseButton:hover {
    background: #E57373;
}

#CloseButton2:hover {
    background: transparent;
}